body{
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,9,121,1) 20%, rgba(28,9,124,1) 50%, rgba(7,90,143,1) 69%, rgba(0,212,255,1) 100%);
    font-size: 25px;
    font-family: cursive;
    color: white;
}

.passgen{
    margin-top: 240px;
    background-color: rgb(21, 72, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border: solid 3px black;
    border-radius: 30px;
}

.inputt{
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

input{
    width: 40px;
    height: 20px;
    margin-top: 22px;
}

.passbtn{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn{
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.hide{
    margin-top: 5px;
    font-family: cursive;
}



